body{
    background: #2c3e50;
}

.bouton {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background: silver;
}

.bouton:focus {outline:0 ;}

#Postit{
	box-shadow: 8px 8px 0px #aaa; 
	}